body {
    background-color: black;
    background-image: url("../img/starry_back.jpg");
    background-repeat: repeat;
    background-attachment: fixed;
}

/*
Default layout (portrait)
*/
#controls {
    position: absolute;
    bottom: 0;
/*
    absolute position centering
*/
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    max-width: 400px;
}
#geoalert {
    margin-bottom: 0;
    text-align: center;
}
#time-control {
    margin-bottom: 0;
    padding-bottom: 0;
}
#fullclock {
    width: 800px;
    margin: auto;
}


/* Landscape layout (with min-width) TODO*/
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    #controls {
        max-width: 45%;
        margin-right: 0;
        height: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #time-control {
        height: 100%;
    }
    #geoalert {
        height: 100%;
    }
    #fullclock {
        margin-left: 0;
    }
}

.well {
    background-color: rgba(255,255,255,0.85);
}

.title {
    border-radius: 0px;
    padding-top:0px;
}

#overcanvas {
    position: absolute;
    width: 800px;
    height: 800px;
    background-color: rgba(255,0,0,0);
    z-index: 15;
}

#clock {
    position: absolute;
}

.center {
    margin: auto;
}

.icon {
    float: right;
}

.description {
    margin: auto;
    max-width: 700px;
}

.description p {
    text-align: justify;
}

.time_display {
    font-size: 1.3em;
    font-weight: 300;
    line-height: 1.4;
}

.display-none {
    display: none;
}



.center-text {
    text-align: center;
}

#geolocation-activation {
    font-weight: bold;
    color: green;
    text-transform: uppercase;
}
